body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.external {
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 70px 20px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form label {
    margin-bottom: 5px;
}

.btn {
    padding: 10px 20px;
    width: 256px;
    font-weight: bold;
    background-color: bisque;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}